<section id="covers" class="covers-section">
  <div class="circle"></div>
  <div class="container">Covers</div>

<h2 class="main-text-covers">Animation</h2>
<div class="covers-container">

  <div class="marquee speed-1">
<ul>
<li><img srcset="/img/covers/Rectangle-6.2x.jpg 2x" src="/img/covers/Rectangle-6.1x.jpg" alt="chego-brand" width="544"></li>
<li><img srcset="/img/covers/Rectangle-7.2x.jpg 2x" src="/img/covers/Rectangle-7.1x.jpg" alt="mimino" width="544"></li>
<li><img srcset="/img/covers/Rectangle-12.2x.jpg 2x" src="/img/covers/Rectangle-12.1x.jpg" alt="discover-english" width="544"></li>
<li><img srcset="/img/covers/Rectangle-11.2x.jpg 2x" src="/img/covers/Rectangle-11.1x.jpg" alt="finances-masterfully" width="544"></li>
<li><img srcset="/img/covers/Rectangle-10.2x.jpg 2x" src="/img/covers/Rectangle-10.1x.jpg" alt="transforming-body" width="544"></li>
<li><img srcset="/img/covers/Rectangle-9.2x.jpg 2x" src="/img/covers/Rectangle-9.1x.jpg" alt="organic-vegetables" width="544"></li>
<li><img srcset="/img/covers/first-screen-1.2x.jpg 2x" src="/img/covers/first-screen-1.1x.jpg" alt="starlight-studio" width="544"></li>
<li><img srcset="/img/covers/Rectangle-8.2x.jpg 2x" src="/img/covers/Rectangle-8.1x.jpg" alt="reviving-traditional" width="544"></li>
<li><img srcset="/img/covers/Rectangle-5.2x.jpg 2x" src="/img/covers/Rectangle-5.1x.jpg" alt="fresh-harvest-box" width="544"></li>
<li><img srcset="/img/covers/Rectangle-4.2x.jpg 2x" src="/img/covers/Rectangle-4.1x.jpg" alt="healthy-body" width="544"></li>
</ul>
</div>

<div class="marquee speed-2">
  <ul>
 <li><img srcset="/img/covers/Rectangle-5.2x.jpg 2x" src="/img/covers/Rectangle-5.1x.jpg" alt="fresh-harvest-box" width="544"></li>
 <li><img srcset="/img/covers/Rectangle-11.2x.jpg 2x" src="/img/covers/Rectangle-11.1x.jpg" alt="finances-masterfully" width="544"></li>
  <li><img srcset="/img/covers/Rectangle-12.2x.jpg 2x" src="/img/covers/Rectangle-12.1x.jpg" alt="discover-english" width="544"></li>
 <li><img srcset="/img/covers/first-screen-1.2x.jpg 2x" src="/img/covers/first-screen-1.1x.jpg" alt="starlight-studio" width="544"></li>
 <li><img srcset="/img/covers/Rectangle-10.2x.jpg 2x" src="/img/covers/Rectangle-10.1x.jpg" alt="transforming-body" width="544"></li>
<li><img srcset="/img/covers/Rectangle-9.2x.jpg 2x" src="/img/covers/Rectangle-9.1x.jpg" alt="organic-vegetables" width="544"></li>
  <li><img srcset="/img/covers/Rectangle-8.2x.jpg 2x" src="/img/covers/Rectangle-8.1x.jpg" alt="reviving-traditional" width="544"></li>
  <li><img srcset="/img/covers/Rectangle-4.2x.jpg 2x" src="/img/covers/Rectangle-4.1x.jpg" alt="healthy-body" width="544"></li>
  <li><img srcset="/img/covers/Rectangle-6.2x.jpg 2x" src="/img/covers/Rectangle-6.1x.jpg" alt="chego-brand" width="544"></li>
  <li><img srcset="/img/covers/Rectangle-7.2x.jpg 2x" src="/img/covers/Rectangle-7.1x.jpg" alt="mimino" width="544"></li>
  </ul>
  </div>

  <div class="marquee speed-3">
    <ul>
 <li><img srcset="/img/covers/Rectangle-9.2x.jpg 2x" src="/img/covers/Rectangle-9.1x.jpg" alt="organic-vegetables" width="544"></li>
 <li><img srcset="/img/covers/Rectangle-7.2x.jpg 2x" src="/img/covers/Rectangle-7.1x.jpg" alt="mimino" width="544"></li>
 <li><img srcset="/img/covers/Rectangle-8.2x.jpg 2x" src="/img/covers/Rectangle-8.1x.jpg" alt="reviving-traditional" width="544"></li>
 <li><img srcset="/img/covers/Rectangle-5.2x.jpg 2x" src="/img/covers/Rectangle-5.1x.jpg" alt="fresh-harvest-box" width="544"></li>
 <li><img srcset="/img/covers/Rectangle-4.2x.jpg 2x" src="/img/covers/Rectangle-4.1x.jpg" alt="healthy-body" width="544"></li>
 <li><img srcset="/img/covers/Rectangle-12.2x.jpg 2x" src="/img/covers/Rectangle-12.1x.jpg" alt="discover-english" width="544"></li>
 <li><img srcset="/img/covers/first-screen-1.2x.jpg 2x" src="/img/covers/first-screen-1.1x.jpg" alt="starlight-studio" width="544"></li>
 <li><img srcset="/img/covers/Rectangle-10.2x.jpg 2x" src="/src/img/covers/Rectangle-10.1x.jpg" alt="transforming-body" width="544"></li>
 <li><img srcset="/img/covers/Rectangle-6.2x.jpg 2x" src="/img/covers/Rectangle-6.1x.jpg" alt="chego-brand" width="544"></li>
 <li><img srcset="/img/covers/Rectangle-11.2x.jpg 2x" src="/img/covers/Rectangle-11.1x.jpg" alt="finances-masterfully" width="544"></li>
 </ul>
 </div>

 <div class="marquee speed-4">
<ul>
<li><img srcset="/img/covers/first-screen-1.2x.jpg 2x" src="/img/covers/first-screen-1.1x.jpg" alt="starlight-studio" width="544"></li>
<li><img srcset="/img/covers/Rectangle-7.2x.jpg 2x" src="/img/covers/Rectangle-7.1x.jpg" alt="mimino" width="544"></li>
<li><img srcset="/img/covers/Rectangle-5.2x.jpg 2x" src="/img/covers/Rectangle-5.1x.jpg" alt="fresh-harvest-box" width="544"></li>
<li><img srcset="/img/covers/Rectangle-9.2x.jpg 2x" src="/img/covers/Rectangle-9.1x.jpg" alt="organic-vegetables" width="544"></li>
<li><img srcset="/img/covers/Rectangle-6.2x.jpg 2x" src="/img/covers/Rectangle-6.1x.jpg" alt="chego-brand" width="544"></li>
<li><img srcset="/img/covers/Rectangle-11.2x.jpg 2x" src="/img/covers/Rectangle-11.1x.jpg" alt="finances-masterfully" width="544"></li>
<li><img srcset="/img/covers/Rectangle-8.2x.jpg 2x" src="/img/covers/Rectangle-8.1x.jpg" alt="reviving-traditional" width="544"></li>
<li><img srcset="/img/covers/Rectangle-4.2x.jpg 2x" src="/img/covers/Rectangle-4.1x.jpg" alt="healthy-body" width="544"></li>
<li><img srcset="/img/covers/Rectangle-10.2x.jpg 2x" src="/img/covers/Rectangle-10.1x.jpg" alt="transforming-body" width="544"></li>
<li><img srcset="/img/covers/Rectangle-12.2x.jpg 2x" src="/img/covers/Rectangle-12.1x.jpg" alt="discover-english" width="544"></li>
</ul>
</div>

<div class="marquee speed-5">
  <ul>
  <li><img srcset="/img/covers/Rectangle-7.2x.jpg 2x" src="/img/covers/Rectangle-7.1x.jpg" alt="mimino" width="544"></li>
  <li><img srcset="/img/covers/Rectangle-5.2x.jpg 2x" src="/img/covers/Rectangle-5.1x.jpg" alt="fresh-harvest-box" width="544"></li>
  <li><img srcset="/img/covers/first-screen-1.2x.jpg 2x" src="/img/covers/first-screen-1.1x.jpg" alt="starlight-studio" width="544"></li>
  <li><img srcset="/img/covers/Rectangle-9.2x.jpg 2x" src="/img/covers/Rectangle-9.1x.jpg" alt="organic-vegetables" width="544"></li>
  <li><img srcset="/img/covers/Rectangle-6.2x.jpg 2x" src="/img/covers/Rectangle-6.1x.jpg" alt="chego-brand" width="544"></li>
  <li><img srcset="/img/covers/Rectangle-11.2x.jpg 2x" src="/img/covers/Rectangle-11.1x.jpg" alt="finances-masterfully" width="544"></li>
  <li><img srcset="/img/covers/Rectangle-12.2x.jpg 2x" src="/img/covers/Rectangle-12.1x.jpg" alt="discover-english" width="544"></li>
  <li><img srcset="/img/covers/Rectangle-4.2x.jpg 2x" src="/img/covers/Rectangle-4.1x.jpg" alt="healthy-body" width="544"></li>
  <li><img srcset="/img/covers/Rectangle-10.2x.jpg 2x" src="/img/covers/Rectangle-10.1x.jpg" alt="transforming-body" width="544"></li>
  <li><img srcset="/img/covers/Rectangle-8.2x.jpg 2x" src="/img/covers/Rectangle-8.1x.jpg" alt="reviving-traditional" width="544"></li>
  </ul>
     </div>
</div>
      </section>
<script src="/js/covers.js" defer></script>
