<section id="covers" class="section-covers">
  <div class="container container-covers">
    <h2 class="main-text-covers visually-hidden">Animation</h2>
    <div class="covers-wrapper">
      <div class="covers-gallery">
        <ul class="covers-list animation-left">
          <li class="covers-item">
            <img
              srcset="/img/covers/first-screen-1.2x.webp 2x"
              src="/img/covers/first-screen-1.1x.webp"
              alt="starlight-studio"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-4.2x.webp 2x"
              src="/img/covers/Rectangle-4.1x.webp"
              alt="healthy-body"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-5.2x.webp 2x"
              src="/img/covers/Rectangle-5.1x.webp"
              alt="fresh-harvest-box"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-6.2x.webp 2x"
              src="/img/covers/Rectangle-6.1x.webp"
              alt="chego-brand"
            />
          </li>

          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-7.2x.webp 2x"
              src="/img/covers/Rectangle-7.1x.webp"
              alt="mimino"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-8.2x.webp 2x"
              src="/img/covers/Rectangle-8.1x.webp"
              alt="reviving-traditional"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-9.2x.webp 2x"
              src="/img/covers/Rectangle-9.1x.webp"
              alt="organic-vegetables"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-10.2x.webp 2x"
              src="/img/covers/Rectangle-10.1x.webp"
              alt="transforming-body"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-11.2x.webp 2x"
              src="/img/covers/Rectangle-11.1x.webp"
              alt="finances-masterfully"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-12.2x.webp 2x"
              src="/img/covers/Rectangle-12.1x.webp"
              alt="discover-english"
            />
          </li>
        </ul>
        <ul class="covers-list animation-right">
          <li class="covers-item">
            <img
              srcset="/img/covers/first-screen-1.2x.webp 2x"
              src="/img/covers/first-screen-1.1x.webp"
              alt="starlight-studio"
            />
          </li>

<li class="covers-item">
  <img srcset="/img/covers/Rectangle-8.2x.webp 2x"
   src="/img/covers/Rectangle-8.1x.webp" 
   alt="reviving-traditional" 
   />
</li>

<li class="covers-item">
  <img srcset="/img/covers/Rectangle-7.2x.webp 2x" 
  src="/img/covers/Rectangle-7.1x.webp" 
  alt="mimino" 
  />
</li>

<li class="covers-item">
  <img srcset="/img/covers/Rectangle-11.2x.webp 2x" 
  src="/img/covers/Rectangle-11.1x.webp" 
  alt="finances-masterfully" 
  />
</li>

          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-4.2x.webp 2x"
              src="/img/covers/Rectangle-4.1x.webp"
              alt="healthy-body"
            />
          </li>

          <li class="covers-item">
            <img srcset="/img/covers/Rectangle-9.2x.webp 2x" 
            src="/img/covers/Rectangle-9.1x.webp" 
            alt="organic-vegetables" 
            />
          </li>
          
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-6.2x.webp 2x"
              src="/img/covers/Rectangle-6.1x.webp"
              alt="chego-brand"
            />
          </li>

          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-7.2x.webp 2x"
              src="/img/covers/Rectangle-7.1x.webp"
              alt="mimino"
            />
          </li>
         
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-9.2x.webp 2x"
              src="/img/covers/Rectangle-9.1x.webp"
              alt="organic-vegetables"
            />
          </li>


<li class="covers-item">
  <img srcset="/img/covers/Rectangle-5.2x.webp 2x" 
  src="/img/covers/Rectangle-5.1x.webp" 
  alt="fresh-harvest-box" 
  />
</li>


          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-10.2x.webp 2x"
              src="/img/covers/Rectangle-10.1x.webp"
              alt="transforming-body"
            />
          </li>
         
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-12.2x.webp 2x"
              src="/img/covers/Rectangle-12.1x.webp"
              alt="discover-english"
            />
          </li>
        </ul>
        <ul class="covers-list animation-left">
          
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-4.2x.webp 2x"
              src="/img/covers/Rectangle-4.1x.webp"
              alt="healthy-body"
            />
          </li>



  <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-5.2x.webp 2x"
              src="/img/covers/Rectangle-5.1x.webp"
              alt="fresh-harvest-box"
            />
          </li>


<li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-9.2x.webp 2x"
              src="/img/covers/Rectangle-9.1x.webp"
              alt="organic-vegetables"
            />
          </li>


<li class="covers-item">
            <img
              srcset="/img/covers/first-screen-1.2x.webp 2x"
              src="/img/covers/first-screen-1.1x.webp"
              alt="starlight-studio"
            />
          </li>


          
        
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-6.2x.webp 2x"
              src="/img/covers/Rectangle-6.1x.webp"
              alt="chego-brand"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-7.2x.webp 2x"
              src="/img/covers/Rectangle-7.1x.webp"
              alt="mimino"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-8.2x.webp 2x"
              src="/img/covers/Rectangle-8.1x.webp"
              alt="reviving-traditional"
            />
          </li>
          
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-10.2x.webp 2x"
              src="/img/covers/Rectangle-10.1x.webp"
              alt="transforming-body"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-11.2x.webp 2x"
              src="/img/covers/Rectangle-11.1x.webp"
              alt="finances-masterfully"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-12.2x.webp 2x"
              src="/img/covers/Rectangle-12.1x.webp"
              alt="discover-english"
            />
          </li>
        </ul>
        <ul class="covers-list animation-right">
          <li class="covers-item">
            <img
              srcset="/img/covers/first-screen-1.2x.webp 2x"
              src="/img/covers/first-screen-1.1x.webp"
              alt="starlight-studio"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-4.2x.webp 2x"
              src="/img/covers/Rectangle-4.1x.webp"
              alt="healthy-body"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-5.2x.webp 2x"
              src="/img/covers/Rectangle-5.1x.webp"
              alt="fresh-harvest-box"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-6.2x.webp 2x"
              src="/img/covers/Rectangle-6.1x.webp"
              alt="chego-brand"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-7.2x.webp 2x"
              src="/img/covers/Rectangle-7.1x.webp"
              alt="mimino"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-8.2x.webp 2x"
              src="/img/covers/Rectangle-8.1x.webp"
              alt="reviving-traditional"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-9.2x.webp 2x"
              src="/img/covers/Rectangle-9.1x.webp"
              alt="organic-vegetables"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-10.2x.webp 2x"
              src="/img/covers/Rectangle-10.1x.webp"
              alt="transforming-body"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-11.2x.webp 2x"
              src="/img/covers/Rectangle-11.1x.webp"
              alt="finances-masterfully"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-12.2x.webp 2x"
              src="/img/covers/Rectangle-12.1x.webp"
              alt="discover-english"
            />
          </li>
        </ul>
        <ul class="covers-list animation-left">
          <li class="covers-item">
            <img
              srcset="/img/covers/first-screen-1.2x.webp 2x"
              src="/img/covers/first-screen-1.1x.webp"
              alt="starlight-studio"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-4.2x.webp 2x"
              src="/img/covers/Rectangle-4.1x.webp"
              alt="healthy-body"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-5.2x.webp 2x"
              src="/img/covers/Rectangle-5.1x.webp"
              alt="fresh-harvest-box"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-6.2x.webp 2x"
              src="/img/covers/Rectangle-6.1x.webp"
              alt="chego-brand"
            />
          </li>

          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-7.2x.webp 2x"
              src="/img/covers/Rectangle-7.1x.webp"
              alt="mimino"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-8.2x.webp 2x"
              src="/img/covers/Rectangle-8.1x.webp"
              alt="reviving-traditional"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-9.2x.webp 2x"
              src="/img/covers/Rectangle-9.1x.webp"
              alt="organic-vegetables"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-10.2x.webp 2x"
              src="/img/covers/Rectangle-10.1x.webp"
              alt="transforming-body"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-11.2x.webp 2x"
              src="/img/covers/Rectangle-11.1x.webp"
              alt="finances-masterfully"
            />
          </li>
          <li class="covers-item">
            <img
              srcset="/img/covers/Rectangle-12.2x.webp 2x"
              src="/img/covers/Rectangle-12.1x.webp"
              alt="discover-english"
            />
          </li>
        </ul>
      </div>
    </div>
    <div class="circle"></div>
  </div>
</section>
