<footer class="footer">
  
  <div class="container">
    <div class="title-container">
      
      <div class="text-block">
        <h2><img src="../img/footer/testImg-footer.png" alt="Profile" class="avatar">LET'S <span>WORK</span><br>TOGETHER</h2>
      </div>
    </div>

    <form id="contactForm" class="contact-form">
      <input type="email" name="email" placeholder="client@gmail.com" pattern="^\w+(.\w+)?@[a-zA-Z_]+?.[a-zA-Z]{2,3}$"
        required>
      <textarea name="comments" placeholder="Comments" required></textarea>
      <button type="submit" class="send-button">Send</button>
    </form>

    <div class="contact-info">
      <a href="mailto:lloydefferson@gmail.com" class="contact-link">lloydefferson@gmail.com</a>
      <a href="tel:+380111111111" class="contact-link">+380 11 111 11 11</a>
    </div>


    <!-- Modal -->
    <div id="successModal" class="modal">
      <div class="modal-content">
        <h3>Success!</h3>
        <p>Your message has been sent successfully.</p>
        <button class="modal-close">Close</button>
      </div>
    </div>
  </div>

</footer>