<header class="header">
  <div class="container container-header">
    <div class="header-logo">
      <a href="/index.html">
        <img
          src="/img/header/image_1x.webp"
          alt="Logo"
          srcset="/img/header/image_1x.webp 1x, /img/header/image_2x.webp 2x"
        />
      </a>
      <p class="header-p">jefferson*</p>
    </div>
    <div class="menu-container">
      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" class="menu-button">Menu</label>
      <ul class="menu-list">
        <li class="menu-item"><a href="#aboutme">About me</a></li>
        <li class="menu-item"><a href="#benefits">Benefits</a></li>
        <li class="menu-item"><a href="#projects">Projects</a></li>
        <li class="menu-item"><a href="#faq">FAQ</a></li>
      </ul>
    </div>
    <div>
      <button class="header-btm" type="button">Order the project</button>
    </div>
    <button
      class="header-modal-menu"
      id="menu-open-btn"
      type="button"
      data-menu-open
    >
      <svg class="burger-icon" width="28" height="28">
        <use href="/img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
