<section class="hero-section">
  <div class="container">
    <div class="top-section">
      <h1>
        Hello.<br />
        I’m Fullstack developer Lloyd Jefferson.
      </h1>
      <ul class="media-list">
        <li class="media-item">
          <a
            class="media-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            >IG</a
          >
        </li>
        <li class="media-item">
          <a
            class="media-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            >FB</a
          >
        </li>
        <li class="media-item">
          <a
            class="media-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
            >YT</a
          >
        </li>
        <li class="media-item">
          <a
            class="media-link"
            href="https://github.com/Vitaliy-Z/team-project-portfolio"
            target="_blank"
            rel="noopener noreferrer"
            >GH</a
          >
        </li>
        <li class="media-item">
          <a class="media-link" href="mailto:example@example.com"
            >Write email</a
          >
        </li>
      </ul>
    </div>
    <div class="bottom-section">
      <p class="photo-text">
        I work with people all over the world to create impressive and
        <span class="photo-text-first-word">functional</span>
        <span class="photo-text-second-word">websites</span> that reflect each
        client's unique personality.
      </p>
      <picture class="my-photo">
        <source
          srcset="
            ../img/hero/photo-mobile-x1.webp 1x,
            ../img/hero/photo-mobile-x2.webp 2x
          "
          media="(min-width:1440px)" />
        <source
          srcset="
            ../img/hero/photo-tablet-x1.webp 1x,
            ../img/hero/photo-tablet-x2.webp 2x
          "
          media="(min-width:768px)" />
        <source
          srcset="
            ../img/hero/photo-mobile-x1.webp 1x,
            ../img/hero/photo-mobile-x2.webp 2x
          "
          media="(min-width:320px)" />
        <img src="../img/hero/photo-desktop-x1.webp" alt="Photo"
      /></picture>
    </div>
  </div>
</section>
