<section class="hero-section">
  <div class="container">
    <h1 class="hero-title">
      Hello.<br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="media-list">
      <li class="media-item">
        <a
          class="media-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
          >IG</a
        >
      </li>
      <li class="media-item">
        <a
          class="media-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
          >FB</a
        >
      </li>
      <li class="media-item">
        <a
          class="media-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="YouTube"
          >YT</a
        >
      </li>
      <li class="media-item">
        <a
          class="media-link"
          href="https://github.com/Vitaliy-Z/team-project-portfolio"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub"
          >GH</a
        >
      </li>
      <li class="media-item-email">
        <a
          class="media-link-email"
          href="mailto:lloydjefferson@gmail.com"
          aria-label="Email"
          >jefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
