<div class="menu-overlay" id="menu" data-menu-modal>
    <button
    class="close-btn"
    id="closeMenu"
    type="button"
    data-menu-close
  >
    <svg class="burger-icon" width="28" height="28">
      <use href="/img/sprite.svg#icon-close"></use>
    </svg>
    </button>
    <ul class="menu">
        <li><a href="#">About me</a></li>
        <li><a href="#">Benefits</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">FAQ</a></li>
    </ul>

    <button class="order-btn">Order the project</button>
</div>