<section id="projects" class="projects-section">
  <div class="container">
    <h2 class="title">Projects</h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="info-container">
            <div class="tags">
              <span class="tag">#react</span>
              <span class="tag">#js</span>
              <span class="tag">#node js</span>
              <span class="tag">#git</span>
            </div>
            <h3 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              href="https://github.com/Vitaliy-Z/team-project-portfolio"
              target="_blank"
              class="see-project"
              >See project</a
            >
          </div>
          <div class="content-container">
            <div class="first-project-img-container"></div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="info-container">
            <div class="tags">
              <span class="tag">#react</span>
              <span class="tag">#js</span>
              <span class="tag">#node js</span>
              <span class="tag">#git</span>
            </div>
            <h3 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              href="https://github.com/Vitaliy-Z/team-project-portfolio"
              target="_blank"
              class="see-project"
              >See project</a
            >
          </div>
          <div class="content-container">
            <div class="second-project-img-container"></div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="info-container">
            <div class="tags">
              <span class="tag">#react</span>
              <span class="tag">#js</span>
              <span class="tag">#node js</span>
              <span class="tag">#git</span>
            </div>
            <h3 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              href="https://github.com/Vitaliy-Z/team-project-portfolio"
              target="_blank"
              class="see-project"
              >See project</a
            >
          </div>
          <div class="content-container">
            <div class="third-project-img-container"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="custom-nav">
      <button class="nav-button project-swiper-button-prev">
        <svg class="nav-button-svg">
          <use href="/img/sprite.svg#icon-arrow-pagination"></use>
        </svg>
      </button>
      <button class="nav-button project-swiper-button-next">
        <svg class="nav-button-svg">
          <use href="/img/sprite.svg#icon-arrow-pagination"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
