<section class="reviews-section" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list js-reviews-list"></ul>
    <button class="btn-arrow btn-backward">
      <svg class="icon-arrow" width="24" height="24">
        <use href="../img/reviews/arrow-narrow-left.png"></use>
      </svg>
    </button>
    <button class="btn-arrow btn-forward">
      <svg class="icon-arrow" width="24" height="24">
        <use href="../img/reviews/arrow-narrow-right.svg"></use>
      </svg>
    </button>
  </div>
</section>
