<section class="reviews-section" id="reviews">
  <div class="container reviews-container js-reviews-container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list js-reviews-list">
    </ul>
    <div class="reviews-pagination js-reviews-pagination">
      <button class="btn-arrow btn-backward">
        <svg class="icon-arrow" width="24" height="24">
          <use href="/img/sprite.svg#icon-arrow-pagination"></use>
        </svg>
      </button>
      <button class="btn-arrow btn-forward">
        <svg class="icon-arrow" width="24" height="24">
          <use href="/img/sprite.svg#icon-arrow-pagination"></use>
        </svg>
      </button>
    </div>
  </div>
</section>


<!-- <li class="review-item">
  <img src="" alt="" class="reviewer-avatar">
  <h3 class="reviewer-mane"></h3>
  <p class="review-text"></p>
</li> -->