.section-covers {
  overflow: hidden;
}

.container-covers {
  overflow: hidden;
  max-height: 508px;
}

.container-covers::before {
  content: '';
  position: absolute;
  top: 480%;
  left: 15%;
  width: 350px;
  height: 350px;
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 0.4) 0%,
    rgba(255, 0, 0, 0) 80%
  );
  border-radius: 50%;
  filter: blur(100px);
  z-index: -1;
}

.container-covers::after {
  content: '';
  position: absolute;
  top: 465%;
  left: 40%;
  width: 350px;
  height: 350px;
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 0.4) 0%,
    rgba(255, 0, 0, 0) 80%
  );
  border-radius: 100%;
  filter: blur(100px);
  z-index: -1;
}

.container-covers.circle {
  content: '';
  position: absolute;
  top: 490%;
  left: 20%;
  width: 350px;
  height: 350px;
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 0.4) 0%,
    rgba(255, 0, 0, 0) 80%
  );
  border-radius: 100%;
  filter: blur(100px);
  z-index: -1;
}

.covers-gallery {
  transform: rotate(17deg);
  min-width: 1125px;
  position: relative;
  left: 100px;
  top: 100px;
}

.covers-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.covers-item:nth-child(6),
.covers-item:nth-child(7),
.covers-item:nth-child(8),
.covers-item:nth-child(9),
.covers-item:nth-child(10),
.covers-item:nth-child(16),
.covers-item:nth-child(17),
.covers-item:nth-child(18),
.covers-item:nth-child(19),
.covers-item:nth-child(20) {
  transform: translateX(75px);
}

.animation {
  animation-name: coversAnim;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

@keyframes coversAnim {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.covers-item img {
  width: 290px;
  height: 163px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .container-covers {
    max-height: 960px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .covers-gallery {
    min-width: 1900px;
    max-width: 2000px;
    left: 0px;
    top: 0px;
  }

  .covers-list {
    gap: 32px;
  }

  @keyframes coversAnim {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(-100%);
    }
  }

  .covers-item:nth-child(6),
  .covers-item:nth-child(7),
  .covers-item:nth-child(8),
  .covers-item:nth-child(9),
  .covers-item:nth-child(10),
  .covers-item:nth-child(16),
  .covers-item:nth-child(17),
  .covers-item:nth-child(18),
  .covers-item:nth-child(19),
  .covers-item:nth-child(20) {
    transform: translateX(150px);
  }

  .covers-item img {
    width: 544px;
    height: 314px;
  }
}

@media screen and (min-width: 1440px) {
  .covers-gallery {
    top: 0px;
    left: 100px;
    min-width: 3000px;
  }

  @keyframes coversAnim {
    from {
      transform: translateX(-20%);
    }

    to {
      transform: translateX(-35%);
    }
  }
}
