.reviews-title {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
  margin-bottom: 32px;
}

.reviews-swiper {
  max-width: 343px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.reviews-list {
  margin: 32px 0;
  display: flex;
}

.reviews-swiper-wrapper {
  display: flex;
}

.review-item {
  padding: 32px 24px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  transition: transform 350ms ease-out;
}
.review-item:hover,
.review-item:focus {
  box-shadow: -0px -0px 20px #ed3b44 inset;
}

.reviewer-avatar {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
}

.reviewer-name {
  font-size: 20px;
  letter-spacing: -0.02em;
  color: var(--main-text);
  margin-bottom: 8px;
}

.review-text {
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.reviews-nav {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn-arrow {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 50%;
  padding: 14px;
  width: 52px;
  height: 52px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-arrow.btn-backward {
  transform: rotate(180deg);
}

.icon-arrow {
  stroke: #fafafa;
}

.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.reviews-btn {
  transition: background 250ms ease-out;
}
.reviews-btn:hover,
.reviews-btn:focus {
  border-color: transparent;
  background-color: var(--button-text);
}

.reviews-eroor-message {
  font-weight: 600;
  letter-spacing: -0.02em;
  color: var(--button-text);
  font-size: 55px;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .reviews-swiper {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .reviews-swiper {
    max-width: 1376px;
  }

  .review-item {
    max-width: 332px;
  }
}
