:root {
  --transition: 300ms linear;
}

/* .reviews-section {
  
} */

.reviews-container {
  display: flex;
  flex-direction: column;
}

.reviews-title {
  font-weight: 600;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
}

.reviews-list {
  margin: 32px 0;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .reviews-list {
    flex-basis: calc((100% - 16px) / 2);
  }
}

@media only screen and (min-width: 1440px) {
  .reviews-list {
    flex-basis: calc((100% - 48px) / 4);
  }
}

.review-item {
  /* border: 1px solid var(--main-text);  */
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  width: 343px;
  min-height: 302px;
}

@media only screen and (min-width: 1440px) {
  .review-item {
    width: 332px;
  }
}

.reviewer-avatar {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
}

.reviewer-name {
  font-size: 20px;
  letter-spacing: -0.02em;
  color: var(--main-text);
  margin-bottom: 8px;
}

.review-text {
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.reviews-pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn-arrow {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  padding: 14px;
  width: 52px;
  height: 52px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.btn-arrow.btn-backward {
  transform: rotate(180deg);
}

.btn-arrow:hover,
.btn-arrow:focus {
  border: 1px solid rgba(250, 250, 250, 0.5);
}

.icon-arrow {
  stroke: #3b3b3b;
  transition: var(--transition);
}

.btn-arrow:hover .icon-arrow,
.btn-arrow:focus .icon-arrow {
  stroke: #fafafa;
}

.reviews-eroor-message {
  font-weight: 600;
  letter-spacing: -0.02em;
  color: var(--button-text);
  font-size: 55px;
  text-transform: uppercase;
}
